.modal {
   &-wrapper {
     position: absolute;
     background-color: #414040;
     opacity: 0.8;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
   }
 
   &__buttons {
     display: flex;
     margin-top: 50px;
     justify-content: center;
 
     &-btn {
       width: 100px;
       font-size: 14px;
       padding: 5px;
       margin: 5px;
          outline: none;
       border: none;
     }
 
     &-btn:hover {
           cursor: pointer;
      }
   }
 
   &__container {
     position: absolute;
     width: 500px;
     height: 300px;
     left: calc(50% - 250px);
     margin-top: 100px;
        z-index: 1000;
     border: 1px solid #030303;
     box-shadow: 1px 1px 20px 20px black;
     border-radius: 10px;
     overflow: hidden;
 
     &-closeBtn {
       font-weight: bold;
       float: right;
       width: 40px;
       height: 40px;
       margin: 15px;
       outline: none;
       font-size: 30px;
       border: none;
          }
 
     &-closeBtn:hover {
       border: 2px solid black;
       cursor: pointer;
        }
 
     &-title {
      text-align: center;
       margin-top: 0;
       padding: 20px;
          }
 
     &-text {
       font-size: 14px;
       text-align: center;
       font-weight: bold;
       white-space: pre-wrap;
       margin-top: 50px;
     }
   }
 
 }
 